#home {
    color: green;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    text-align: center;
}

<<<<<<< HEAD

=======
#home a:visited, #home a, #home a:hover {
    color: green;

}
>>>>>>> dev
