#tree line {
    stroke: #ccc;
}

#tree .node-div {
    border-radius: 25px;
    background-color: white;
    display: block;
    margin: 30px 30px 30px 30px;
    border: 2px solid #B19CD9;
    padding: 20px;
    transition: all 250ms 0s ease;
}

#tree .profilepic {
    /* please add px */
    width: 100px;
    height: 100px;
    float: left;
}