* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	--header-height: 60px;
}

body::-webkit-scrollbar {
	width: 1em;
}

body::-webkit-scrollbar-track {
	-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}

#page_container {
	padding: 10px;
}

#nav-buttons {
	display: none;
}

#tree-image {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #ebeee7;
}

body::-webkit-scrollbar-thumb {
	background-color: darkgrey;
	outline: 1px solid slategrey;
}

nav {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	background-color: #7cb342;
	padding: 0 0;
}

nav>div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#logo-image {
	height: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

.logo {
	font-style: Monospace;
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

.btn {
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Monospace, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #a9cea6;
	color: #855E42;
	margin-right: 20px;
}

.btn:hover {
	text-decoration: none;
	opacity: 0.7;
}

.side-nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}

.side-nav-links li {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
	letter-spacing: 3px;
}

.side-nav-links a {
	font-style: Monospace;
	font-weight: bold;
	/* font-size: 20px; */
	text-decoration: none;
	color: #5e5656;
	text-transform: uppercase;
}

.side-nav-links a:hover {
	color: #000000;
	/* color: #aa0505; */
}

.burger {
	display: none;
	margin-right: 50px;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #a9cea6;
	margin: 5px;
	transition: all 0.3s ease;
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

#footer {
	bottom: 0;
	width: 100%;
	background-image: rgba(255, 255, 255, 0.24);
	background-color: whitesmoke;
	color: #7cb342;
	text-align: center;
	padding: 20px;
}

#tree-image {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #ebeee7;
}

#home {
	text-align: center;
	align-items: center;
	justify-content: center;
}

#start-family-tree {
	/* margin-right: 474px;
	margin-left: 474px; */
	width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: .5em 5.2em .55em;
	background-position: center;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Monospace, sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	/* background: #f09413; */
	background: #727086;
	color: whitesmoke;
	/* position: relative;
	top: 1px; */
}

#start-family-tree:hover {
	opacity: 0.7;
}

@media screen and (max-width:1024px) {
	.side-nav-links {
		width: 0px;
	}
	body::-webkit-scrollbar {
		width: 1em;
	}
	body::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	body::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
}

@media screen and (max-width:768px) {
	body {
		overflow-y: hidden;
	}
	body::-webkit-scrollbar {
		width: 1em;
	}
	body::-webkit-scrollbar-track {
		-webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
	}
	body::-webkit-scrollbar-thumb {
		background-color: darkgrey;
		outline: 1px solid slategrey;
	}
	.side-nav-links {
		z-index: 1000;
		position: absolute;
		left: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #7cb342;
		flex-direction: column;
		align-items: left;
		display: flex;
		justify-content: space-around;
		width: 30%;
		transform: translateY(100%);
		transition: transform 0.5s ease-in;
		margin-top: 60px;
		margin-bottom: 0px;
		/* padding: 10 10 10 10; */
	}
	.side-nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
		cursor: pointer;
	}
	#start-family-tree {
		/* margin-left: 300px; */
		display: flex;
		flex-direction: row;
		justify-content: space-around;
		outline: none;
		padding: .5em 5.2em .55em;
		background-position: center;
	}
}

.nav-active {
	transition: all 0.3s ease-in-out;
	transform: translateY(0%);
	top: 0px;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}