* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	--header-height: 60px;
}

html, body {
	height: 100%;
}

#page_container {
	min-height: 100%;
	padding: 10px;
}

#home {
	overflow: auto;
	padding-bottom: 60px;
	text-align: center;
	align-items: center;
	justify-content: center;
}

#tree-image {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #ebeee7;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-thumb {
	background-color: rgb(170, 138, 138);
	border-radius: 10px;
	outline: 1px solid slategrey;
}

#header_container {
	box-sizing: border-box;
}

nav {
	box-sizing: border-box;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: var(--header-height);
	background-color: #7cb342;
}

nav>div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#logo-image {
	height: 40px;
	margin-right: 10px;
	margin-left: 10px;
}

.logo {
	font-style: Monospace;
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

#nav-buttons {
	display: none;
}

.btn {
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Monospace, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #a9cea6;
	color: #855E42;
	margin-right: 20px;
}

.btn:hover {
	text-decoration: none;
	opacity: 0.7;
}

.side-nav-links {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	list-style: none;
}

.side-nav-links li {
	display: inline-block;
	margin-right: 20px;
	margin-left: 20px;
	position: relative;
	letter-spacing: 3px;
}

.side-nav-links a {
	font-style: Monospace;
	font-weight: bold;
	text-decoration: none;
	color: #5e5656;
	text-transform: uppercase;
}

.side-nav-links a:hover {
	color: #000000;
}

.burger {
	display: none;
	margin-right: 30px;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #a9cea6;
	margin: 5px;
	transition: all 0.3s ease;
}

#footer {
	height: 60px;
	margin-top: -60px;
	clear: both;
	background-color: whitesmoke;
	color: #7cb342;
	text-align: center;
	padding: 20px;
}

#start-family-tree {
	white-space: nowrap;
	width: 300px;
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	padding: .5em 5.2em .55em;
	background-position: center;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Monospace, sans-serif;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #727086;
	color: whitesmoke;
}

#start-family-tree:hover {
	opacity: 0.7;
}

@media screen and (max-width:1024px) {
	.logo {
		letter-spacing: 3px;
		font-size: 15px;
	}
	nav {
		font-size: 12px;
		box-sizing: border-box;
		display: flex;
		white-space: nowrap;
		justify-content: space-between;
		align-items: center;
	}
}

@media screen and (max-width:768px) {
	body {
		overflow-y: hidden;
	}
	.side-nav-links {
		margin-top: 60px;
		/* margin-bottom: 0px; */
		font-size: 15px;
		z-index: 1000;
		position: absolute;
		left: 0px;
		height: 92vh;
		top: 8vh;
		background-color: #7cb342;
		flex-direction: column;
		align-items: left;
		display: flex;
		justify-content: space-around;
		width: 30%;
		transform: translateY(100%);
		transition: transform 0.5s ease-in;
	}
	.side-nav-links li {
		opacity: 0;
	}
	.burger {
		display: block;
		cursor: pointer;
	}
	.logo {
		letter-spacing: 5px;
		font-size: 20px;
	}
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.nav-active {
	transition: all 0.3s ease-in-out;
	transform: translateY(0%);
	top: 0px;
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}