/* put common style here */

* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	--header-height: 60px;
}

body {
	overflow-y: hidden;
}

#tree-image {
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: center;
	background-color: #ebeee7;
}

#home {
	text-align: center;
	/* background-color:  #ebeee7; */
	/* background-image: url("./images/familyTree.jpeg") ; 
  height:100vh ;
  background-size: cover;
  background-position: center;    */
}

nav {
	box-sizing: border-box;
	z-index: 1000;
	display: flex;
	justify-content: space-around;
	align-items: center;
	height: var(--header-height);
	background-color: #7cb342;
	padding: 0 0;
}

nav>div {
	display: flex;
	flex-direction: row;
	align-items: center;
}

#logo-image {
	height: 40px;
}

.logo {
	font-style: Monospace;
	color: rgb(226, 226, 226);
	text-transform: uppercase;
	letter-spacing: 5px;
	font-size: 20px;
}

#login {
	margin-right: 10px;
}

.btn {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #a9cea6;
	color: #855E42;
	font-family: Monospace;
	margin-right: 20px;
}

.btn:hover {
	text-decoration: none;
	opacity: 0.7;
}

.btn:active {
	position: relative;
	top: 1px;
}

.side-nav-links {
	left: 0px;
	position: fixed;
	z-index: 1000;
	position: absolute;
	justify-content: space-around;
	height: 100vh;
	top: 8vh;
	background-color: #a9cea6;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 15%;
	transform: translateY(100%);
	transition: all 0.5s ease-in;
	margin-right: 10px;
	margin-top: var(--header-height);
}

.side-nav-links li {
    transition: all 0.3s ease-in-out;
	list-style: none;
	opacity: 0;
}

.side-nav-links a {
	font-style: Monospace;
	font-weight: bold;
	font-size: 20px;
	text-decoration: none;
	display: block;
	color: rgb(226, 226, 226);
}

.side-nav-links a:hover {
	background-color: #817777;
}

.burger {
	display: block;
	cursor: pointer;
	margin-right: 50px;
}

.burger div {
	width: 25px;
	height: 3px;
	background-color: #a9cea6;
	margin: 5px;
	transition: all 0.3s ease;
}

.nav-active {
	transition: all 0.3s ease-in-out;
	transform: translateY(0%);
	top: 0px;
}

@keyframes navLinkFade {
	from {
		opacity: 0;
		transform: translateY(50px);
	}
	to {
		opacity: 1;
		transform: translateY(0px);
	}
}

.toggle .line1 {
	transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
	opacity: 0;
}

.toggle .line3 {
	transform: rotate(45deg) translate(-5px, -6px);
}

#footer {
	position: fixed;
	bottom: 0;
	width: 100%;
	background-image: rgba(255, 255, 255, 0.24);
	background-color: whitesmoke;
	color: #7cb342;
	text-align: center;
	padding: 20px;
}

#start-family-tree {
	margin-right: 474px;
	margin-left: 474px;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	outline: none;
	cursor: pointer;
	text-align: center;
	text-decoration: none;
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: .5em 5.2em .55em;
	text-shadow: 0 1px 1px rgba(0, 0, 0, .3);
	-webkit-border-radius: .5em;
	-moz-border-radius: .5em;
	border-radius: .5em;
	-webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	-moz-box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	box-shadow: 0 1px 2px rgba(0, 0, 0, .2);
	background: #d4810d;
	color: whitesmoke;
	font-family: Monospace;
}

#start-family-tree {
	text-decoration: none;
	opacity: 0.9;
}

#start-family-tree {
	position: relative;
	top: 1px;
}